<p>
    <strong> Title : </strong>
    <%= @post.title %>
</p>

<p>
    <strong> Caption : </strong>
    <%= @post.caption %>
</p>


<h2> Comments </h2>
<%= render @post.comments %>


<h2> Add a Comment </h2>
<%= render 'comments/form' %>



<%= link_to 'Go to Home', posts_path %>